<div class="row">
    <div class="col-sm-9">
        <house-list (SelectHouse) = 'onSelectHouse($event)' [houses] = "houses"></house-list>
    </div>
    <div class="col-sm-3">
        <house-detail *ngIf = 'selectedHouse' [house] = 'selectedHouse'></house-detail>
    </div>
</div>

