<div class = 'row pt-5'>
    <div class = 'col-md-6 mr-auto'>
        <div class = 'card rounded-0'>
            <div class = 'card-header'>
                <h3 class = 'mb-0'>Register</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" name = 'email' class="form-control rounded-0" required [(ngModel)] = 'registerLandlordData.email'>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name = 'password' class="form-control rounded-0" required [(ngModel)] = 'registerLandlordData.password'>
                    </div>
                    <button (click) = 'registerLandlord()' class="btn btn-primary float-right" type = 'button'>Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
