<div class="panel panel-primary">
    <div class = 'panel panel-heading pt-2'>
        {{houseType}} Apartments 
    </div>
    <hr/>
    <div class = 'panel-body'>
        <div class = 'row'>
            <div class = 'col-md-4'>Apartment Type : 
                <select [(ngModel)] = 'houseType'>
                    <option value = '' selected>select</option>
                    <option *ngFor = 'let house of houses'>{{ house.houseType }}</option>
                </select>
            </div>
        </div>
        <br>
        <div class = 'row'>
            <div class = 'col-md-4'>Prices : 
                <select [(ngModel)] = 'pricefilter'>
                    <option value = '' selected>select</option>
                    <option *ngFor = 'let house of houses'>{{ house.houseRent }}</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class = 'row'>
            <div class = 'col-md-6'>
                <h5>Filtered by price : {{ pricefilter }}</h5>
            </div>
        </div>
    </div>
    <div class = 'row pt-2'>
        <div class="col-md-4 mb-3" *ngFor = 'let house of houses | houseTypeFilter : houseType | housePriceFilter : pricefilter'>
            <div class="card text-center">
                <div  class="card-body">
                    
                        <img [src] = 'house.imageUrl'
                            (click) = 'onSelect(house)'
                            [title] = 'house.houseName'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'>
                    
                    <h5 (click) = 'onSelect(house)'><a>{{ house.houseName }}</a></h5>
                    <hr/>
                </div>    
            </div>
        </div>
    </div>
</div>

