<ul class="nav nav-pills nav-stacked">
    <li><label>House Name : </label>{{ house.houseName }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li><label>Monthly Rent : </label>{{ house.houseRent }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li><label>Type : </label>{{ house.houseType }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li><label>Landlord Name : </label>{{ house.firstName }} {{ house.lastName }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li><label>Landlord Phone : </label>{{ house.phone }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li><label>Location :</label>{{ house.location }}</li>
</ul>
<br>
<ul class="nav nav-pills nav-stacked">
    <li><label>Vacancies :</label>{{ house.vacancies }}</li>
</ul>
<br/>
<ul class="nav nav-pills nav-stacked">
    <li>
        <img [src] = 'house.imageUrl'
            [title] = 'house.houseName'
            [style.width.px] = 'imageWidth'
            [style.margin.px] = 'imageMargin'>
    </li>
    <hr/>
</ul>
