<div class = 'container-fluid mb-5'>
    <h1>Bootcamp Enrollment Form</h1>
    <form #userForm = 'ngForm' (ngSubmit) = 'onSubmit()' novalidate>
      <div class = 'form-group'>
        <label>House Name</label>
        <input type = 'text' name = 'houseName' required 
               #name = 'ngModel' [class.is-invalid] = 'name.invalid && name.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.houseName'>
        <small class = 'text-danger' *ngIf = "name.invalid && name.touched">House Name is required</small>
      </div>
      <div class = 'form-group'>
        <label>First Name</label>
        <input type = 'text' name = 'firstName' required 
               #firstname = 'ngModel' [class.is-invalid] = 'firstname.invalid && firstname.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.firstName'>
        <small class = 'text-danger' *ngIf = "firstname.invalid && firstname.touched">First Name is required</small>
      </div>
      <div class = 'form-group'>
        <label>Last Name</label>
        <input type = 'text' name = 'lastName' required 
               #lastname = 'ngModel' [class.is-invalid] = 'lastname.invalid && lastname.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.lastName'>
        <small class = 'text-danger' *ngIf = "lastname.invalid && lastname.touched">Last Name is required</small>
      </div>
      <div class = 'form-group'>
        <label>House Rent</label>
        <input type = 'text' name = 'houseRent' required 
               #houserent = 'ngModel' [class.is-invalid] = 'houserent.invalid && houserent.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.houseRent'>
        <small class = 'text-danger' *ngIf = "houserent.invalid && houserent.touched">House rent is required</small>
      </div>
      <div class = 'form-group'>
        <label>House Location</label>
        <input type = 'text' name = 'location' required 
               #location = 'ngModel' [class.is-invalid] = 'location.invalid && location.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.location'>
        <small class = 'text-danger' *ngIf = "location.invalid && location.touched">Location is required</small>
      </div>
      <div class = 'form-group'>
        <label>House Type</label>
        <input type = 'text' name = 'houseType' required 
               #type = 'ngModel' [class.is-invalid] = 'type.invalid && type.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.houseType'>
        <small class = 'text-danger' *ngIf = "type.invalid && type.touched">House type is required</small>
      </div>
      <div class = 'form-group'>
        <label>Phone</label>
        <input type = 'text' class = 'form-control' 
               name = 'phone' [(ngModel)] = 'houseData.phone' required
               #phone = 'ngModel' pattern = '^\d{10}$' [class.is-invalid] = 'phone.invalid && phone.touched'>
        <div *ngIf = 'phone.errors && (phone.invalid || phone.touched)'>
          <small class = 'text-danger' *ngIf = 'phone.errors.required'>Phone number is required</small>
          <small class = 'text-danger' *ngIf = 'phone.errors.pattern'>Phone number must be 10 digits</small>
        </div>
      </div>
      <div class = 'form-group'>
        <label>Number of Vacancies</label>
        <input type = 'text' name = 'vacancies' required 
               #vacancy = 'ngModel' [class.is-invalid] = 'vacancy.invalid && vacancy.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.vacancies'>
        <small class = 'text-danger' *ngIf = "vacancy.invalid && vacancy.touched">Add number of vacancies</small>
      </div>
      <div class = 'form-group'>
        <label>House ImageUrl</label>
        <input type = 'text' name = 'imageUrl' required 
               #url = 'ngModel' [class.is-invalid] = 'url.invalid && url.touched' 
               class = 'form-control' [(ngModel)] = 'houseData.imageUrl'>
        <small class = 'text-danger' *ngIf = "url.invalid && url.touched">Name is required</small>
      </div>
      <button [disabled] = 'userForm.form.invalid' class = 'btn btn-primary' type = 'submit'>Submit Form</button>
    </form>
  </div>
