<div class = 'row pt-5'>
    <div class = 'col-md-6 mr-auto'>
        <div class = 'card rounded-0'>
            <div class = 'card-header'>
                <h3 class = 'mb-0'>Login</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" name = 'email' class="form-control rounded-0" required [(ngModel)] = 'loginLandlordData.email'>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name = 'password' class="form-control rounded-0" required [(ngModel)] = 'loginLandlordData.password'>
                    </div>
                    <button (click) = 'loginLandlord()' class="btn btn-success float-right" type = 'button'>Login</button>
                </form>
            </div>
            <small class="text-danger" *ngIf = 'errors'>{{errors}}</small>
        </div>
    </div>
</div>

