<html>
    <nav class = 'navbar navbar-expand-lg navbar-dark bg-dark'>
        <a class = 'navbar-brand' href = '#'>Propertyhub</a>
        <button class = 'navbar-toggler' type = 'button' data-toggle = 'collapse' data-target = '#navbar'>
          <span class = 'navbar-toggler-icon'></span>
        </button>
        <div class = 'collapse navbar-collapse' id = 'navbarSupportedContent'>
          <ul class = 'navbar-nav mr-auto'>
            <!--<li class = 'nav-item'>-->
              <a class = 'nav-link' routerLink = "/welcome" routerLinkactive = 'active'>Home</a>
              <a class = 'nav-link' routerLink = "/apartments" routerLinkactive = 'active'>Apartments</a>
              <a class = 'nav-link' routerLink = "/registerHouse" routerLinkactive = 'active'>Add house</a>
            <!--</li>-->
          </ul>
          <ul class = 'navbar-nav'>
            <a class = 'nav-link' *ngIf = '!loggedIn()' routerLink = "/login" routerLinkActive = 'active'>Login</a>
            <a class = 'nav-link' *ngIf = '!loggedIn()' routerLink = "/register" routerLinkActive = 'active'>Register</a>
            <a style="cursor:pointer" class="nav-link" *ngIf = 'loggedIn()' (click) = 'logoutUser()'>Logout</a>
          </ul>
        </div>
    </nav>
    <div class = 'container'>
        <router-outlet></router-outlet>
    </div>
</html>
