<div class = 'panel panel-primary'>
<br>
    <div class = 'panel panel-heading'>
        <h1>WELCOME TO JUJA REAL ESTATE AGENCY</h1>    
    </div>
    <div class = 'panel-body'>
        <p><font>Find Your Dream Home</font></p>
    </div>
</div>