.panel-primary{
    padding-bottom: 11.85cm;
}
h1{
    text-align: center;
    color: blanchedalmond;
}
p{
    color: beige;
    text-align : center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
